*{
    padding:0;
    margin: 0;
    text-decoration: none;
    list-style: none;

}
body{
    font-family:montserrat;
}
nav{
    height: 80px;
    width: 100px;
    background: #34495e;


}
nav ul{
    
}